$blue-primary: #189AB4;
$dark-blue: #05445E;
$light-blue: #D4F1F4;
$blue-accent: #75E6DA;

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kadwa', serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
em {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #E9F7F9;
    line-height: 1;
}

h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: $light-blue;
}

h3 {
    font-size: 2.3rem;
    font-weight: 500;
    color: $dark-blue;
    text-shadow: 0 -3px 4px rgba(0, 0, 0, 0.199);
}

p {
    font-size: 1.5rem;
    color: $blue-accent;
}

a,
h4 {
    font-size: 1.5rem;
}

em {
    font-weight: 900;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(14, 1fr) / 5% repeat(7, 1fr) 5%;
    overflow: hidden;
    background: linear-gradient(#189AB4, #05445E 70%);
    margin: auto;
}

nav {
    width: 100vw;
    background-color: $light-blue;
    grid-row: 1 / 2;
    grid-column: span 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    a {
        color: $dark-blue;
        text-decoration: none;

        em {
            font-style: normal;
            font-weight: bold;
        }
    }

    .burger {
        width: 2rem;
        height: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bar {
            height: 3px;
            width: 2rem;
            background-color: $dark-blue;
            border-radius: 2px;
        }
    }
}

.heading {
    grid-area: 3 / 3 / 5 / span 5;
    text-align: center;
}

.instruction {
    grid-area: 5 / 2 / span 2 / span 7;

    p {
        float: right;
        white-space: pre;
        text-align: right;
    }
}

.card {
    grid-area: 7 / 2 / span 5 / span 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    border-radius: 18px;
    padding: 10% 0 7.5%;
    background: linear-gradient(#D4F1F4 30%, $blue-primary);
    position: relative;
    
    .answers {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 1.2rem  2rem;
        width: 100%;
        padding: 0 3rem;

        .box {  
            padding: 10% 10%;    
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: none;
            transition: .5s ease-in-out;
            &:hover {
                cursor: pointer;
            }
        }

        .verb {
            color: white;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.301);
        }

        .first {
            background: linear-gradient(to left top, #75E6DA, #189AB4);
            box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.26);
        }

        .second {
            background: linear-gradient(to right top, #75E6DA, #189AB4);
            box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.26);
        }

        .third {
            background: linear-gradient(to left bottom, #75E6DA, #189AB4);
            box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.26);
        }

        .fourth {
            background: linear-gradient(to right bottom, #75E6DA, #189AB4);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26);
        }
    }
}


.stats {
    grid-area: -4 / 3 / span 2 / span 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, $blue-primary, #189ab49d);
    border-radius: 10px;
    padding: 0 2rem;

    p {
        text-align: right;
        color: $light-blue;
    }

    h4 {
        font-weight: 700;
        color: white;
    }
}

img {
    grid-area: 4 / 1 / -2 / span 9;
    mix-blend-mode: lighten;
    width: 100%;
    opacity: 10%;
    z-index: -3;
}

@media (min-width: 600px) {
    body {
        grid-template-columns: 20% repeat(7, 1fr) 20%;
    }
}
@media (min-width: 900px) {
    body {
        grid-template-columns: 30% repeat(7, 1fr) 30%;
    }
}

@media (min-width: 1500px) {
    body {
        grid-template-columns: 38% repeat(7, 1fr) 38%;
    }
}